/*////////////////////////////////////////////////////*/
.div{
    border: 0px solid;
    height: 750px;
    margin: -8px;
    margin-top: -8%;
    margin-bottom: 150px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    & ::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('/photo/background_2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        z-index: -2;
    }

    & *{
        font-family: 'Nunito', sans-serif;
        border: 0px solid;
        text-align: center;
        
    }

    &>:nth-child(1){
        position: relative;
        margin-top: 25px;
        background-color: rgb(255, 94, 0);
        box-shadow: 0px 0px 8px rgb(178, 84, 1) inset;
        width: min(10vw, 70px);
        height: min(10vw, 70px);
        border-radius: 100px;
        border: 0px solid;
        transition: .3s;
        box-sizing: border-box;
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &>:nth-child(1){

            width: 50%;
            transition: .2s;
        }

    }
    
    &>:nth-child(1)::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 106, 7);
        inset: 0;
        z-index: -1;
        padding: 0px;
        border-radius: 0px;
        border-radius: 100px;
        animation: btn 2s ease infinite;
    }

    &>:nth-child(1):active{
        box-shadow: 0px 0px 10px rgb(60, 17, 0) inset;


        &>:nth-child(1){
            margin-top: 5%;
            width: 45%;
        }

    }

    &>:nth-child(2){
        font-size: min(4vw, 60px);
        width: 100%;
        
    }

    &>:nth-child(3){
        margin-top: -30px;
        font-size: min(2.7vw, 19px);
        margin-bottom: 60px;
    }

    &>:nth-child(4){ /* 4 element*/
        margin-left: 5px;
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap:wrap;

        &> *{ /* only 4.1 element */
            border-radius: 35px;
            margin: 20px;
            width: 300px;
            height: 400px;
            border: 1px solid rgb(154, 154, 154);
            background-color: rgb(255, 255, 255);
            position: relative;
            transition: .3s;
            
           }
        
        &> *:hover{
            background-color: rgb(78, 79, 83);
            color: aliceblue;

            .btn_hover{
                background-color: rgb(255, 94, 0);
                border: 1px solid rgb(255, 94, 0);
                color: aliceblue;
                transition: .2s;
            }

            .btn_hover:active{
                background-color: rgb(208, 76, 0);
                border: 1px solid rgb(208, 76, 0);
            }

            .translate_div{

                background-image: url('/photo/translate_white.png');

            }
            
            .vocabular_div{

                background-image: url('/photo/vocabular_white.png');

            }
            
            .write_div{

                background-image: url('/photo/writing_white.png');

            }
        }

        &> *::after{
            content: '';
            position: absolute;
            width: 12%;
            height: 1.5%;
            top: -4px;
            left: 50px;
            z-index: 1;
            padding: 0px;
            border-radius: 10px;
            border: 1px solid rgb(78, 79, 83);
            background-color: rgb(78, 79, 83);
            transition: .3s;
        }

        &> *:hover:after{

            border: 1px solid rgb(232, 232, 232);
            background-color: rgb(245, 245, 245);
        }

        &> *{ /* only 4.1 element*/

            &> *{ /* only 4.1.1 element*/

                background-color: rgba(198, 198, 198, 0);
                border: 0px solid;
                height: max-content;
                border-radius: 35px;
                text-align: start;
                padding-left: 20px;
                padding-bottom: 41px;
                

                &>:nth-child(1){
                    border: 0px solid;
                    margin-top: 20px;
                    transition: .3s;
                }

                &> :nth-child(3){
                    width: 250px;
                }

                &> :nth-child(4){
                    padding: 15px 40px;
                    border-radius: 7px;
                    border: 1px solid;
                    background-color: rgba(240, 248, 255, 0);
                    transition: .3s;
                }
                

                &> *{  /* only 4.1.1.1 element*/
                    text-align: start;
                    
                }
            }

            &>*::after{
                content: '';
                position: absolute;
                width: 12%;
                height: 1.5%;
                bottom: -4px;
                left: 50px;
                background-color: bisque;
                z-index: 1;
                padding: 0px;
                border-radius: 10px;
                border: 1px solid rgb(78, 79, 83);
                background-color: rgb(78, 79, 83);
                transition: .3s;
            }

            &>*:hover::after{
                border: 1px solid rgb(232, 232, 232);
                background-color: rgb(245, 245, 245);
            }
        }
    }
}

.translate_div{
    width: 45px;
    height: 45px;
    background-image: url('/photo/translate_black.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.vocabular_div{
    width: 45px;
    height: 45px;
    background-image: url('/photo/vocabular_black.png');
    background-repeat: no-repeat;
    background-size: contain; 
}

.write_div{
    width: 45px;
    height: 45px;
    background-image: url('/photo/writing_black.png');
    background-repeat: no-repeat;
    background-size: contain;
}

/*////////////////////////////////////////////////////*/
@media screen and (max-width: 1035px) {

    .div{

        height: 950px;

        &>:nth-child(2){
            font-size: min(6vw, 40px);
        }

        &>:nth-child(3){
            margin-top: -20px;
        }
    
        &>:nth-child(4){
            width:85%;
            &>*{

                width: 280px;
                height: max-content;

                &>*{
                    button{
                        font-size: 12px;
                        padding: 10px 20px !important;
                    }
                    font-size: 13px;

                    &>:nth-child(4){
                        margin-bottom: 0px;
                    }
                }

            }
        }
    }

}
/*////////////////////////////////////////////////////*/

@media screen and (max-width: 772px) {
    .div{
        margin-top: -5%;
        height: 1200px;
    }
}

/*////////////////////////////////////////////////////*/
@media screen and (max-width: 580px) {
    .div{

        height: 1200px;
        margin-top: -10%;

        &>:nth-child(3){
            margin-top: -15px;
        }

        &>:nth-child(4){

            &> *{
                width: 290px;
                height: max-content;
            }

        }
    }
}
/*////////////////////////////////////////////////////*/
@keyframes btn {
    from {
        padding: 0px;
        top: 0px;
        left: 0px;
        opacity: 1;
    }
      
    to {
        opacity: 0;
        padding: 20px;
        top: -20px;
        left: -20px;
    }
  }
  /*////////////////////////////////////////////////////*/